repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types: [ python ]
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [ python ]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy src
        language: system
        types: [ python ]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [ python ]
        pass_filenames: false

