name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  pypi-publish:

    name: Publish package to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/singlejson

    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0  # ensure tags are available for setuptools_scm
        fetch-tags: 'true'

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: 'pyproject.toml'

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Build package
      run: uv build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.13.0

