name: Run tests

on:
  push:
    tags-ignore:
      - '*' # Skip tests on tag pushes
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --group dev

    - name: Test with pytest
      run: uv run pytest

    - name: Do lint checks with ruff
      run: uv run ruff check

    - name: Typecheck with mypy
      run: uv run mypy src